* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

#lista {
    max-height: 700px;
    font-size: 1.5em;
    overflow-y: scroll;
}

#lista li {
    cursor: pointer;
    padding: 12px;
}

#lista li:hover {
    background-color: aquamarine;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.container {
    display: flex;
    background-color: #FF0000;
    margin: 12px;
    padding: 12px;
    justify-content: space-around;
    border: solid;
    border-radius: 15px;
    border-color: black;

}

.maestro,
.detalle {
    border: solid 2px rgb(0, 0, 0);
    background-color: beige;
    margin: 12px;
    border-radius: 15px;
}

.detail {
    display: flex;
    flex-grow: 3;
    flex-basis: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.detalle {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
}

.maestro {
    flex-basis: 0;
    flex-grow: 1;
}

ul li {
    margin: 12px;
    list-style: none;
}

#imagen {
    width: 300px;
    height: 300px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1200px-Pok%C3%A9_Ball_icon.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tipos-container {
    margin: 0%;
}

#tipos {
    display: flex;
    justify-content: center;
}

.tipo {
    font-weight: bold;
    background-color: gray;
    border-radius: 5px;
    border: 2px solid black;
    padding: 8px;
}

.fire {
    background-color: #FF0000;
    color: #ffffff;
}

.grass {
    background-color: green;
}

.flying {
    background-color: rgb(59, 184, 206);
}

.water {
    background-color: rgb(4, 0, 255);
    color: #ffffff;
}

.poison {
    background-color: violet;
}

.detailHeader {
    align-self: flex-end;
    margin-right: 12px;
}